# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
*               text=auto

# These files are text and should be normalized (Convert crlf => lf)
*.gitattributes text
.gitignore      text

# Exclude files from exporting
.gitattributes  export-ignore
.gitignore      export-ignore
.gitkeep        export-ignore

# Fix syntax highlighting on GitHub to allow comments
.vscode/*.json  linguist-language=JSON-with-Comments

# Documents
*.bibtex   text diff=bibtex
*.doc      diff=astextplain
*.DOC      diff=astextplain
*.docx     diff=astextplain
*.DOCX     diff=astextplain
*.dot      diff=astextplain
*.DOT      diff=astextplain
*.pdf      diff=astextplain
*.PDF      diff=astextplain
*.rtf      diff=astextplain
*.RTF      diff=astextplain
*.md       text diff=markdown
*.mdx      text diff=markdown
*.tex      text diff=tex
*.adoc     text
*.textile  text
*.mustache text
*.csv      text eol=crlf
*.tab      text
*.tsv      text
*.txt      text
*.epub     diff=astextplain

# Text files where line endings should be preserved
*.patch    -text

# Random development bits
Dockerfile          text
*.lock              text -diff
package.json        text eol=lf
package-lock.json   text eol=lf -diff
Makefile            text
makefile            text

# Scripts
*.bash     text eol=lf
*.fish     text eol=lf
*.ksh      text eol=lf
*.sh       text eol=lf
*.zsh      text eol=lf

# These are explicitly windows files and should use crlf
*.bat      text eol=crlf
*.cmd      text eol=crlf
*.ps1      text eol=crlf

# Python sources
*.pxd      text diff=python
*.py       text diff=python
*.py3      text diff=python
*.pyw      text diff=python
*.pyx      text diff=python
*.pyz      text diff=python
*.pyi      text diff=python

# Python binaries
*.db       binary
*.p        binary
*.pkl      binary
*.pickle   binary
*.pyc      binary export-ignore
*.pyo      binary export-ignore
*.pyd      binary

# Jupyter notebook
*.ipynb    text eol=lf

# Serialisation
*.config   text
*.json     text
*.toml     text
*.xml      text
*.yaml     text
*.yml      text

# Archives
*.7z       lfs
*.bz       lfs
*.bz2      lfs
*.bzip2    lfs
*.gz       lfs
*.lz       lfs
*.lzma     lfs
*.rar      lfs
*.tar      lfs
*.taz      lfs
*.tbz      lfs
*.tbz2     lfs
*.tgz      lfs
*.tlz      lfs
*.txz      lfs
*.xz       lfs
*.Z        lfs
*.zip      lfs
*.zst      lfs

# Images
*.ai       binary
*.avif     binary
*.bmp      binary
*.eps      binary
*.exr      lfs
*.gif      binary
*.hdr      lfs
*.ico      binary
*.iff      binary
*.jp2      binary
*.jpeg     binary
*.jpg      binary
*.jxl      binary
*.pict     binary
*.png      binary
*.psb      lfs
*.psd      lfs
# SVG treated as text by default... should it be?
*.svg      text
*.tga      binary
*.tif      binary
*.tiff     binary
*.webp     binary

# fonts
*.ttf      binary
*.eot      binary
*.otf      binary
*.woff     binary
*.woff2    binary

# Audio
*.aac      lfs
*.aif      lfs
*.aiff     lfs
*.flac     lfs
*.m4a      lfs
*.mid      binary
*.midi     binary
*.mp3      lfs
*.ogg      lfs
*.s3m      lfs
*.wav      lfs
*.xm       lfs

# Video
*.3gpp     lfs
*.3gp      lfs
*.asf      lfs
*.asx      lfs
*.avi      lfs
*.flv      lfs
*.m4v      lfs
*.mkv      lfs
*.mov      lfs
*.mp4      lfs
*.mpeg     lfs
*.mpg      lfs
*.ogv      lfs
*.swf      lfs
*.webm     lfs
*.wmv      lfs

# Web bits
*.coffee   text
*.css      text diff=css
*.htm      text diff=html
*.html     text diff=html
*.js       text
*.mjs      text
*.cjs      text
*.jsx      text
*.less     text
*.ls       text
*.map      text -diff
*.od       text
*.onlydata text
*.php      text diff=php
*.sass     text
*.scm      text
*.scss     text diff=css
*.sql      text
*.ts       text
*.tsx      text
*.xhtml    text diff=html

# Documentation
AUTHORS         text
CHANGELOG       text
CHANGES         text
CONTRIBUTING    text
COPYING         text
*COPYRIGHT*     text
INSTALL         text
LICENSE         text
NEWS            text
*README*        text
TODO            text
